/* main: ../main.scss*/
$main_color: #f5ee31;
$meta_color: #f7f7f7;

$heading_color: #2d2b2e;
$text_color: #645f66;

$link: #317CA5;

$slider_control: #b1aeac;

$border_color: #deddde;
$dark_border: #414140;
$dark_color: #0e0e0d;
