/*main: ../main.scss*/
$brand_color: #e84c25;
$blue: #2978a0;
$placeholder: #c7c7c7;
$background: #f5f5f5;
$blue_jeans: #5BC3EB;
$platinum: #e5e5e5;

$taupe_gray: #8d8a8d;
$davy_gray: #575757;

$jet_black: #36382f;
$onyx: #3e363f;
