/*main: ../main.scss*/
html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font:{
		family: 'Poppins', sans-serif;
		size: 16px;
	};
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	outline: none;
	color: $blue;
	
	&:hover{
		text-decoration: none;
	}
}

p{
	line-height: 1.6;
	margin-bottom: 20px
}
