/*main: ../main.scss*/
.modal{

  &-content, &-header{
      @include border-radius(0);
  }

  &-delete{
    .modal-header{
      background: $brand_color;
    }

    .modal-title{
      color: #fff;
      font:{
        weight: 300;
      }
    }
  }

}
