/* main: ../main.scss*/
/* main: ../main.scss*/
/* main: ../main.scss*/
@font-face {
  font-family: "highcountry";
  src: url("fonts/highcountry.eot");
  src: url("fonts/highcountry.eot?#iefix") format("embedded-opentype"), url("fonts/highcountry.woff") format("woff"), url("fonts/highcountry.ttf") format("truetype"), url("fonts/highcountry.svg#highcountry") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "highcountry" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="hct-"]:before,
[class*=" hct-"]:before {
  font-family: "highcountry" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hct-scroll:before {
  content: "\61"; }

.hct-next:before {
  content: "\62"; }

.hct-back:before {
  content: "\63"; }

.hct-pinterest:before {
  content: "\64"; }

.hct-facebook:before {
  content: "\65"; }

.hct-instagram:before {
  content: "\66"; }

.hct-twitter:before {
  content: "\67"; }

.hct-youtube:before {
  content: "\68"; }

/* main: ../main.scss*/
.text-link {
  color: #f5ee31;
  font-size: 14px; }
  .text-link:hover {
    text-decoration: underline;
    color: #f5ee31; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 11px 15px;
  border: none; }
  .btn-ghost {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    -webkit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    transition: all 0.33s; }
    .btn-ghost:hover {
      background-color: #fff;
      color: #0e0e0d; }
  .btn-secondary {
    background-color: #f5ee31;
    color: #0e0e0d; }
  .btn-fw {
    width: 100%; }

/* main: ../main.scss*/
* {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style-type: none;
  margin: 0; }

a {
  outline: none; }
  a:hover {
    text-decoration: none; }

body {
  font-family: Lato;
  font-weight: 400;
  color: #645f66; }

p {
  font-size: 16px;
  line-height: 1.4; }

figure {
  margin: 0; }

img {
  max-width: 100%; }

.section-heading {
  margin-bottom: 70px; }
  .section-heading p {
    font-size: 20px;
    font-weight: 500; }
    @media screen and (min-width: 1024px) {
      .section-heading p {
        padding: 0 120px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

/* main: ../main.scss*/
.video {
  border-right: none;
  border-left: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.no-video .video__container video,
.touch .video__container video {
  display: none; }

.no-video .video__container .poster,
.touch .video__container .poster {
  display: block !important; }

.video__container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video__container .poster.hidden {
  display: none; }

.video__container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video__container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(96, 91, 98, 0.45);
  width: 100%;
  height: 100%; }

.video__container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video__container video.fillWidth {
  width: 100%; }

.video__overlay {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .video__overlay a {
    display: block; }
    .video__overlay a#video__scroll {
      color: #fff;
      font-size: 48px; }

/* main: ../main.scss */
.slider {
  padding: 60px 0; }
  .slider .carousel-inner {
    background: rgba(255, 255, 255, 0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 31%, black 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(31%, rgba(255, 255, 255, 0)), color-stop(100%, black));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 31%, black 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 31%, black 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 31%, black 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 31%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cbc1', endColorstr='$cbc2', GradientType=1 );
    position: relative; }
  .slider-control {
    position: absolute;
    top: 50%;
    padding: 20px 12px;
    background: rgba(0, 0, 0, 0.85);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.33s;
    -moz-transition: all 0.33s;
    transition: all 0.33s; }
    .slider-control i {
      font-size: 20px;
      line-height: 1;
      color: #fff; }
    .slider-control:hover {
      background: rgba(0, 0, 0, 0.95); }
    .slider-control.prev {
      left: 0; }
    .slider-control.next {
      right: 0; }
  .slider-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 30px;
    padding-top: 70px;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(41%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cbc1', endColorstr='$cbc2', GradientType=0 ); }
    .slider-caption h1 {
      margin-bottom: 10px;
      color: #fff; }
    .slider-caption p {
      margin: 0;
      font-size: 18px;
      color: #fff; }

.activity__det {
  margin-top: 20px; }

.actctrl {
  width: 100%; }
  .actctrl__dots, .actctrl__navs {
    margin-bottom: 20px; }
    .actctrl__dots.disabled, .actctrl__navs.disabled {
      display: none; }
  .actctrl__dots > div {
    display: inline-block;
    margin-right: 5px; }
    .actctrl__dots > div:last-child {
      margin-right: 0; }
  .actctrl__dots span {
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #b1aeac;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .actctrl__dots > div.active span {
    background: #b1aeac; }
  .actctrl__navs .owl-prev, .actctrl__navs .owl-next {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px; }
    .actctrl__navs .owl-prev i, .actctrl__navs .owl-next i {
      color: #b1aeac; }
      .actctrl__navs .owl-prev i:hover, .actctrl__navs .owl-next i:hover {
        color: #645f66; }
  .actctrl__navs .owl-next {
    margin-right: 0; }

.tsctrl {
  margin-top: 40px;
  width: 100%; }
  .tsctrl__dots, .tsctrl__navs {
    margin-bottom: 20px; }
    .tsctrl__dots.disabled, .tsctrl__navs.disabled {
      display: none; }
  .tsctrl__dots > div {
    display: inline-block;
    margin-right: 5px; }
    .tsctrl__dots > div:last-child {
      margin-right: 0; }
  .tsctrl__dots span {
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #b1aeac;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .tsctrl__dots > div.active span {
    background: #b1aeac; }
  .tsctrl__navs .owl-prev, .tsctrl__navs .owl-next {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px; }
    .tsctrl__navs .owl-prev i, .tsctrl__navs .owl-next i {
      color: #b1aeac; }
      .tsctrl__navs .owl-prev i:hover, .tsctrl__navs .owl-next i:hover {
        color: #645f66; }
  .tsctrl__navs .owl-next {
    margin-right: 0; }

/* main: ../main.scss*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", san-serif;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #2d2b2e; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2d2b2e; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #317CA5; }

h1, .h1 {
  font-size: 40px;
  font-weight: 700; }

h2, .h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 15px; }

h3, .h3 {
  font-size: 20px;
  margin-bottom: 10px; }

h4, .h4 {
  font-size: 18px;
  font-weight: 400; }

h5, .h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.55); }

/* main: ../main.scss*/
#nav {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 20px;
  z-index: 105;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }
  #nav.show {
    top: 0 !important; }
  #nav .navbar {
    padding: 0; }

.home #nav {
  top: -100%;
  position: fixed;
  left: 0;
  width: 100%; }

.navbar-nav {
  padding: 0 15px; }

.nav-link {
  color: #645f66;
  padding-left: 15px !important;
  padding-right: 15px !important;
  -webkit-transition: all 0.33s;
  -moz-transition: all 0.33s;
  transition: all 0.33s; }
  .nav-link:hover {
    color: #2d2b2e; }

.navbar-searchsocial li {
  margin-right: 10px; }
  .navbar-searchsocial li:last-of-type {
    margin-right: 0; }

.navbar-searchsocial a {
  color: #645f66;
  -webkit-transition: all 0.33s;
  -moz-transition: all 0.33s;
  transition: all 0.33s; }
  .navbar-searchsocial a:hover {
    color: #2d2b2e; }

/* main: ../main.scss*/
/* main: ../main.scss*/
#main {
  background: #fff;
  position: relative;
  padding-bottom: 60px; }

.activities {
  padding-bottom: 60px; }

.top-selling {
  padding-top: 60px;
  padding-bottom: 70px;
  background: #f7f7f7; }
  .top-selling .owl-stage-outer {
    margin: -5px; }
  .top-selling .owl-stage {
    padding-top: 10px;
    padding-bottom: 10px; }

.activity {
  padding-top: 60px; }
  .activity__wrap--list {
    position: relative; }
    .activity__wrap--list img {
      width: 100%; }
  .activity__wrap--caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: center;
    padding: 40px;
    font-size: 28px;
    font-weight: 700; }
    .activity__wrap--caption div {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%); }

.tailormadetrip {
  background: url("../images/tailormade.jpg") no-repeat;
  background-size: cover;
  padding: 100px 0; }
  .tailormadetrip__detail {
    width: 460px;
    padding: 30px;
    background-color: rgba(76, 116, 144, 0.7); }
    .tailormadetrip__detail h2, .tailormadetrip__detail a, .tailormadetrip__detail p {
      color: #fff; }
    .tailormadetrip__detail a {
      margin-top: 20px; }

.testimonial {
  padding: 90px 0; }
  .testimonial__text {
    color: #317CA5; }
    .testimonial__text p {
      font-size: 24px;
      line-height: 1.6;
      margin: 0; }

.topselling {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11); }
  .topselling > figure {
    position: relative; }
  .topselling__badge {
    background: #f5ee31;
    color: #2d2b2e;
    font-size: 14px;
    line-height: 1;
    padding: 7px 15px;
    position: absolute;
    top: 20px;
    right: 0; }
  .topselling__det {
    padding: 30px;
    min-height: 154px;
    background: #fff; }
  .topselling__region {
    font-size: 14px;
    display: block; }
  .topselling__meta {
    padding: 30px;
    background: #f7f7f7;
    width: 100%; }
  .topselling__duration, .topselling__difficulty {
    width: 50%;
    text-align: center; }
    .topselling__duration span, .topselling__difficulty span {
      display: block;
      color: #645f66;
      font-weight: 500; }
    .topselling__duration--title, .topselling__difficulty--title {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 10px;
      color: #b1aeac !important; }
  .topselling__duration {
    border-right: 1px solid #deddde; }

.partners {
  padding: 60px 0; }

.social {
  border: 1px solid #deddde;
  text-align: center;
  padding: 30px; }
  .social__list {
    font-size: 0;
    margin: 0; }
    .social__list li {
      display: inline-block;
      padding-right: 20px;
      font-size: 20px;
      font-weight: 500;
      vertical-align: top;
      line-height: 1; }
      .social__list li:last-child {
        padding-right: 0; }
      .social__list li a {
        font-size: 22px;
        color: #645f66; }
        .social__list li a:hover {
          color: #317CA5; }

.package__meta {
  padding: 60px 0;
  background-color: #317CA5;
  color: rgba(255, 255, 255, 0.9); }

.package__difficulty {
  width: 35%;
  padding-right: 40px; }

.package__metas {
  padding-left: 40px;
  width: 65%;
  border-left: 1px solid rgba(255, 255, 255, 0.15); }
  .package__metas dl {
    margin: 0;
    color: rgba(255, 255, 255, 0.9); }
  .package__metas dt {
    width: 180px;
    margin-right: 5px; }
    .package__metas dt:after {
      content: ":";
      float: right; }
  .package__metas dt, .package__metas dd {
    display: inline-block; }

.package__duration {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600; }

.package__tab {
  background: #317CA5; }

.package__details {
  padding: 40px 0; }

.package__itinerary--head {
  font-weight: 600;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .package__itinerary--head span {
    display: inline-block;
    vertical-align: middle; }
  .package__itinerary--head[aria-expanded="true"] {
    background: rgba(0, 0, 0, 0.025); }

.package__itinerary--day {
  width: 120px; }

.package__itinerary--body {
  padding: 20px; }

.package__contact {
  padding: 30px;
  -webkit-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.5); }
  .package__contact p {
    margin: 0; }
  .package__contact--whatsapp {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.package__book {
  margin-top: 10px; }

.package__item {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11); }
  .package__item--det {
    padding: 30px;
    min-height: 151px;
    background: #fff; }
    .package__item--det h3 {
      margin-bottom: 10px; }
  .package__item--meta {
    padding: 30px;
    background: #f7f7f7;
    width: 100%; }
  .package__item--days {
    border-right: 1px solid #deddde; }
  .package__item--days, .package__item--difficulty {
    width: 50%;
    text-align: center; }
    .package__item--days span, .package__item--difficulty span {
      display: block;
      color: #645f66;
      font-weight: 500; }
    .package__item--days--title, .package__item--difficulty--title {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 10px;
      color: #b1aeac !important; }

.banner {
  position: relative;
  overflow: hidden; }
  .banner__title {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -1px;
    left: 0;
    padding-top: 50%;
    padding-bottom: 40px;
    padding-left: 200px;
    padding-right: 200px;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.57) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(41%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.57)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.57) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.57) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.57) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.57) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cbc1', endColorstr='$cbc2', GradientType=0 ); }
    .banner__title h1 {
      color: #fff;
      margin: 0; }

.tab__list .nav-link {
  padding: 15px 20px;
  color: #fff; }
  .tab__list .nav-link.active {
    background: #fff;
    color: #317CA5; }

.tab__list--inner .nav {
  margin-top: -10px;
  margin-bottom: 20px; }
  .tab__list--inner .nav-link {
    padding: 0;
    margin-right: 30px;
    font-weight: 500;
    color: #645f66; }

.content-area {
  padding: 40px 0px; }

/* main: ../main.scss*/
.footer {
  background: #0e0e0d;
  padding-top: 60px;
  position: relative; }
  .footer__top {
    color: #fff;
    font-size: 14px;
    padding-bottom: 40px;
    border-bottom: 1px solid #414140; }
  .footer__company {
    margin-top: 30px; }
    .footer__company li {
      line-height: 34px; }
    .footer__company i {
      width: 20px;
      text-align: center;
      margin-right: 10px; }
  .footer__assoc {
    margin-top: 30px; }
    .footer__assoc li {
      display: inline-block;
      margin-right: 10px; }
      .footer__assoc li:last-child {
        margin-right: 0; }
  .footer__knowbefore {
    text-align: right; }
    .footer__knowbefore h4 {
      color: #fff; }
    .footer__knowbefore p {
      font-size: 14px;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.6); }
  .footer__copy {
    padding: 30px 0; }
    .footer__copy p, .footer__copy a {
      color: rgba(255, 255, 255, 0.3);
      font-size: 14px;
      margin: 0; }
  .footer__nav {
    text-align: right; }
    .footer__nav li {
      display: inline-block;
      padding-right: 30px; }
      .footer__nav li:last-child {
        padding-right: 0; }
      .footer__nav li a {
        -webkit-transition: all 0.33s;
        -moz-transition: all 0.33s;
        transition: all 0.33s; }
        .footer__nav li a:hover {
          color: #fff; }

/* main: ../main.scss*/
